# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/
config/credentials.json
config/linkedin_cookies.pkl
config/token.pickle
data/


# IDE files
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log 